body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {

}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8px
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.headers p{
  padding: 10px;
}

.headers p:nth-child(2) {
  flex-grow: 1;
  text-align: left;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}